.response-option {
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-box-div {
    background-color: lightgrey; 
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.preview-box {
    border: 2px solid darkgrey;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main-interface-body > div {
    display: inline-block;
    vertical-align: top;
}

#main-interface-body {
    white-space: nowrap;
}

#response-preview {
    width: 300px;
    white-space: pre-line;
}